<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class='bookmarks-container'>
  <h2>Here are your Bookmarks</h2>
  <% @bookmarks.each do |bookmark|%>
  <li>
  <a href="<%= bookmark.url%>">
  <%= bookmark.title%>
  </a>
  <form action="/bookmarks/<%= bookmark.id %>" method='post'>
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" id="<%=bookmark.title%>_delete"/>
  </form> 
  <form action="/update/<%= bookmark.id %>" method='get'>
    
    <input type='submit' value='Update' id="<%=bookmark.title%>_update">
  </form> 
  </li>
  <% end %>
  <p>
    <form action="/" method='get'>
      <input type="submit" value="Home">
    </form>
  </p>
</div>
</body>
</html>

<%# try and get to work with post request %>